
#container {
    margin: 20px;
	display: inline-block; 
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

#container::before {
    content: "Before Element";
    display: block;
    color: #f00;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

#container::after {
    content: "After Element";
    display: block;
    color: #f00;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}
